html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('./partyimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

form{
    margin: 0 0 50px 33%;
}
#parent{
    background:rgba(0, 0, 0,0.5);
    padding: 0 50px;
    position: relative;
    height: 100vh;
}

h1{
    display: inline;
    font-size: 80px;
    position: relative;
    left: 32%;
    font-family: 'IM Fell English', serif;
}

.box{
    background-color: rgba(0, 255, 0, 0.5);
    display: inline-block;
    min-width: 220px;
    padding: 0 0 0 30px;
    margin: 30px 20px 0 20px;
    border: 10px dashed black;
}
span{
    font-size: 20px;
    position: relative;
    font-weight: 700;
    left: 32%;
    font-family: 'IM Fell English', serif;
}

input, textarea{
    margin: 10px 0 10px 0;
    padding: 10px 20px;
    width: 28vw;
    font-size: 20px;
}

button{
    padding: 10px 50px;
    cursor: pointer;
    font-size: 20px;
}

button:hover{
    background: black;
    color: white;
    cursor: pointer;
}